@page
@model Razor.Sample.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h3>Login</h3>

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="form-group row">
            <div class="col-3">
                <label for="usrname">Username:</label>
            </div>
            <div class="col-6">
                <input type="text" name="usrname" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label for="pwd">Password:</label>
            </div>
            <div class="col-6">
                <input type="password" name="pwd" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="submit" class="btn btn-primary form-control" />
            </div>
        </div>
        <a href="https://dev-489843.okta.com/oauth2/v1/authorize?idp=0oa13omwe4PcV1qEh4x7&client_id=0oa13hi4za9UJGcLQ4x7&response_type=id_token&response_mode=fragment&scope=openid%20email&redirect_uri=https%3A%2F%2Flocalhost%3A44336%2Fauthorize%2Fcallback&state=state&nonce=nonce">Login With Google</a>
    </form>
</div>
