@page
@model Razor.Sample.Pages.OTPModel
@{
    ViewData["Title"] = "OTP";
}

@if (ViewData["otp"] != null)
{
    <h3>OTP</h3>
}
else
{
    <h3>Tokens</h3>
}

<div class="border container" style="padding:30px; width:880px">
    <form method="post">
        @if (ViewData["otp"] != null)
        {
            <div id="otp1" class="form-group row">
                <div class="col-3">
                    <label for="otp">Enter Code:</label>
                </div>
                <div class="col-6">
                    <input type="text" name="otp" />
                </div>
            </div>
            <div id="otp2" class="form-group row">
                <div class="col-3 offset-3">
                    <input type="submit" value="verify" class="btn btn-primary form-control" />
                </div>
            </div>
        }

        @if (ViewData["id_Token"] != null)
        {
            <font size="2">id_Token</font>
            <p><font size="1"><textarea rows="4" style="width:800px; word-wrap:break-word;">@ViewData["id_Token"]</textarea></font></p>
            <p><font size="1"><textarea rows="10" style="width:800px; word-wrap:break-word;">@ViewData["idTokenJson"]</textarea></font></p>
        }
        @if (ViewData["access_Token"] != null)
        {
            <font size="2">access_Token</font>
            <p><font size="1"><textarea rows="4" style="width:800px; word-wrap:break-word;">@ViewData["access_Token"]</textarea></font></p>
            <p><font size="1"><textarea rows="10" style="width:800px; word-wrap:break-word;"> @ViewData["accessTokenJson"]</textarea></font></p>
        }
        </form>
</div>
